body{
    font-family: 'Avenir';
}
#MainUsuario{
    margin-top: 50px ;
    padding: 30px;
}
#SectionUsuario{
    padding-inline: 100px;
}

#ArticleDatosUsuario p{
    margin-bottom: 5px;
    font-size: large;
}
#ArticleDatosUsuario input{
    height: 35px;
    width: 60%;
}
#ArticleDatosUsuario{
    margin-bottom: 50px;
}
#Actualizar{
    width: 40%;
    height: 40px;
    font-family: 'Avenir';
    border: none;
    color: white;
    font-size: large;
    border-radius: 10px;
    background-color: #44DBBD;
}

#Actualizar:hover{
    background-color: #009295;
}